extends baseEmail

block content
  p Hi #{firstName},
  p We received a request to change your password.
  p Click the link below to choose a new password #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If you received this email by mistake, you can safely ignore it. Your password won't be changed.
